// Import FormIO stylesheet
@import url(https://unpkg.com/formiojs@latest/dist/formio.full.min.css);

// Import Bootstrap stylesheet
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);

// Import the AntDesign CSS library
@import "../../node_modules/antd/dist/antd.less";

/***************************************/
/*     CUSTOMIZE COLORS AND FONTS      */
/***************************************/

/**** Color definitions ****/

@noe-bg: #000a2e;
@noe-primary: #3775e1;
@noe-accent-1: #000bff;
@noe-accent-2: #7fffbb;

html {
  --noe-bg: @noe-bg;
  --noe-accent-1: @noe-accent-1;
  --noe-accent-2: @noe-accent-2;
  --noe-accent-1-90: mix(@noe-accent-1, @noe-accent-2, 90%);
  --noe-accent-1-85: mix(@noe-accent-1, @noe-accent-2, 85%);
  --noe-accent-2-85: mix(@noe-accent-2, @noe-accent-1, 85%);
}

/*** Title font ****/

// Import the Google fonts stored locally
// @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");

/* latin-ext */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/JosefinSansLatinExt.woff2) format("woff2");
  //src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_ArQbMhhLzTs.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/JosefinSansLatin.woff2) format("woff2");
  //src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_ArQbMZhLw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", Arial, sans-serif;
}

/*** round effect on components ***/
.ant-alert, .ant-modal-content
  //.ant-card, .ant-collapse
{
  border-radius: 10px !important;
}

.ant-modal {
  &-header {
    border-radius: 10px 10px 0 0 !important;
  }

  &-footer {
    border-radius: 0 0 10px 10px !important;
  }
}

/**** Menu items ****/

// Add box-shadow transition to all the rest
.ant-menu-item {
  transition: box-shadow 0.5s, border-color 0.3s, background 0.3s,
    padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-menu-root {
  background: var(--noe-bg) !important;
}

// Make gradient, made with background-color and inset bow-shadow (yeah that's the trick)
.ant-menu-item.ant-menu-item-selected:not(.ant-menu-item-danger) {
  background: var(--noe-accent-1-85) !important;
  box-shadow: -210px 0 100px -100px var(--noe-accent-2-85) inset !important;
}

// Utility for displaying a NOE background
.bg-noe-gradient {
  background: linear-gradient(135deg, var(--noe-accent-1-90), 40%, var(--noe-accent-2));
}

.bg-noe {
  background: var(--noe-bg);
}

.bg-white {
  background: white;
}

.bg-error {
  background: @error-color;
}

/***************************************/
/*           OTHER TWEAKS              */
/***************************************/

/*** fix icons not vertically aligned ***/
svg {
  vertical-align: unset;
}

/******** SIDEBAR *********/

.sidebar-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 100%;
}

.sidebar-container > *:not([class="sidebar-footer"]) {
  flex-grow: 1;
}

/*** BUTTONS ***/

.success-button {
  .button-variant-primary(@btn-primary-color; @success-color);
}

.warning-button {
  .button-variant-primary(@btn-primary-color; @warning-color);
}

/*** AGENDA ***/

:root {
  --project-disabled-color: rgba(0, 0, 0, 0.07);
  --project-darker-disabled-color: rgba(0, 0, 0, 0.55);
  --places-disabled-color: rgba(255, 0, 0, 0.15);
  --places-darker-disabled-color: rgba(200, 0, 0, 0.55);
  --stewards-disabled-color: rgba(0, 0, 255, 0.17);
  --stewards-darker-disabled-color: rgba(0, 0, 255, 0.55);
}

.project-disabled-date {
  background: var(--project-disabled-color);
}

.places-disabled-date {
  background-image: repeating-linear-gradient(
    to left top,
    transparent,
    transparent 25%,
    var(--places-disabled-color) 25%,
    var(--places-disabled-color) 50%
  );
}

.stewards-disabled-date {
  background-image: repeating-linear-gradient(
    to left top,
    transparent,
    transparent 25%,
    var(--stewards-disabled-color) 25%,
    var(--stewards-disabled-color) 50%
  );
}

.project-places-disabled-date {
  background-image: repeating-linear-gradient(
    to left top,
    var(--project-disabled-color),
    var(--project-disabled-color) 25%,
    var(--places-disabled-color) 25%,
    var(--places-disabled-color) 50%
  );
}

.project-stewards-disabled-date {
  background-image: repeating-linear-gradient(
    to left top,
    var(--project-disabled-color),
    var(--project-disabled-color) 25%,
    var(--stewards-disabled-color) 25%,
    var(--stewards-disabled-color) 50%
  );
}

.stewards-places-disabled-date,
.places-stewards-disabled-date {
  background-image: repeating-linear-gradient(
    to left top,
    transparent,
    transparent 25%,
    var(--places-disabled-color) 25%,
    var(--places-disabled-color) 37.5%,
    var(--stewards-disabled-color) 37.5%,
    var(--stewards-disabled-color) 50%
  );
}

.project-stewards-places-disabled-date,
.project-places-stewards-disabled-date {
  background-image: repeating-linear-gradient(
    to left top,
    var(--project-disabled-color),
    var(--project-disabled-color) 25%,
    var(--places-disabled-color) 25%,
    var(--places-disabled-color) 37.5%,
    var(--stewards-disabled-color) 37.5%,
    var(--stewards-disabled-color) 50%
  );
}

.grouping-button.ant-tag-checkable-checked {
  color: unset;
}

/* Ant tag agenda grouping buttons colors */

.places-grouping.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  color: var(--places-darker-disabled-color);
}

.places-grouping.ant-tag-checkable-checked,
.places-grouping.ant-tag-checkable:active {
  background-color: var(--places-disabled-color);
}

.stewards-grouping.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  color: var(--stewards-darker-disabled-color);
}

.stewards-grouping.ant-tag-checkable-checked,
.stewards-grouping.ant-tag-checkable:active {
  background-color: var(--stewards-disabled-color);
}

.category-grouping.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  color: var(--project-darker-disabled-color);
}

.category-grouping.ant-tag-checkable-checked,
.category-grouping.ant-tag-checkable:active {
  background-color: var(--project-darker-disabled-color);
  color: #fff;
}

/*** SPIN ANIMATION ***/

.spin {
  width: 130px;
  height: 130px;
  animation: spin 1.5s cubic-bezier(0.6, 0.15, 0.6, 0.85) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/***  FADE IN / FADE OUT ANIMATIONS ***/

.fade-in {
  animation: fade-in 0.7s ease-out both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-from-bottom-left {
  animation: fade-in-from-bottom-left 0.8s ease-out both;
}

@keyframes fade-in-from-bottom-left {
  0% {
    transform: translate(-60px, 60px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 0.7s ease-in both;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    height: initial;
  }
  100% {
    // Need to reduce height to prevent the element to overlay the rest of the page.
    // There is no way to toggle display = none with animations.
    height: 0;
  }
}

/*** BOUNCE ANIMATION ***/

.bounce-in {
  animation: bounceIn 0.55s ease-in-out;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }
  50% {
    transform: scale(1.02);
  }
  80% {
    opacity: 0.9;
    transform: scale(0.99);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.bounce-in-strong {
  animation: bounceInStrong 0.55s ease-in-out;
}

@keyframes bounceInStrong {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.07);
  }
  80% {
    opacity: 0.9;
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
